.card
{
    padding: 8px;
    aspect-ratio: 1.5;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: darken( $theme-color, 5% );
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;

    .row
    {
        padding: 8px;
        background-image: linear-gradient( to left, $theme-color, darken( $theme-color, 4% ) );
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
        gap: 16px;
        font-size: 16px;
        align-items: center !important;
        display: flex;

        i
        {
            font-size: 30px;
            font-weight: 500;
        }

        label
        {
            flex-grow: 1;
        }
    }
}
