@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@300;400;700&display=swap');

$header-font: Quantico,sans-serif;
$main-font: Sen,sans-serif;
$alternate-font: Poppins,Sen,sans-serif;

$background-color: #141f34;
$theme-color: #263960;