@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The only page we have right now is <a href="./MatchHistory">History</a>.</p>
</div>
